* {
	margin: 0;
	padding: 0;
}

body {
	background-color: peachpuff;
}

.container {
	display: flex;
	justify-content: center;
	padding-top: 120px;
}

.content {
	display: flex;
	flex-direction: column;
	width: 1700px;
}

.welcome {
	margin-bottom: 100px;
}

.con_login {
	background-color: #b3e5fb;
	width: 700px;
	height: 500px;
	padding-top: 20px;
	padding-left: 15px;
}

#header_margin {
	margin-bottom: 20px;
}

.login_button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #04c9f5), color-stop(1, #03b5d9));
	background:-moz-linear-gradient(top, #04c9f5 5%, #03b5d9 100%);
	background:-webkit-linear-gradient(top, #04c9f5 5%, #03b5d9 100%);
	background:-o-linear-gradient(top, #04c9f5 5%, #03b5d9 100%);
	background:-ms-linear-gradient(top, #04c9f5 5%, #03b5d9 100%);
	background:linear-gradient(to bottom, #04c9f5 5%, #03b5d9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#04c9f5', endColorstr='#03b5d9',GradientType=0);
	background-color:#04c9f5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #03b5d9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #03b5d9;
}

.login_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #03b5d9), color-stop(1, #04c9f5));
	background:-moz-linear-gradient(top, #03b5d9 5%, #04c9f5 100%);
	background:-webkit-linear-gradient(top, #03b5d9 5%, #04c9f5 100%);
	background:-o-linear-gradient(top, #03b5d9 5%, #04c9f5 100%);
	background:-ms-linear-gradient(top, #03b5d9 5%, #04c9f5 100%);
	background:linear-gradient(to bottom, #03b5d9 5%, #04c9f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#03b5d9', endColorstr='#04c9f5',GradientType=0);
	background-color:#03b5d9;
}

.login_button:active {
	position:relative;
	top:1px;
}
