<!DOCTYPE html>
<html>
<head>
	<title>Guess their face!</title>
	<link rel="stylesheet" type="text/css" href="/pluggy.css">
	<meta charset="UTF-8">
</head>
<body>
	<div class="container">
		<%= template %>
	</div>
</body>
</html>